@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .banner {
    width: 100vw;
    height: 40vh; 
    z-index: 1;
    position: sticky;
  }

  .dashboardTitle {
    font-family: 'Dancing Script', cursive;
    margin-top: -1.5em;
    z-index: 2;
    position: relative;
  }

  .dashboardName {
    font-family: 'Dancing Script', cursive;
  }

  .title {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    line-height: 3.5rem;
    color: black;
    font-weight: bolder;
    background-image: url("https://i.gifer.com/embedded/download/YxDK.gif");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container {
    position: relative;
  }

  .budget {
    margin-top: -1.3em
  }

  .secret {
    width: 100%;
    height: 150px;
  }

  .background {
    @apply bg-gradient-to-r from-slate-800 to-slate-900
  }

  .welcome {
    text-align: center;
    font-size: 8rem;
    background-image: url("https://i.gifer.com/embedded/download/YxDK.gif");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
  }

  .partyTitle {
    margin: -1.5em 0 0 0;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 5rem;
    background-image: url("https://i.gifer.com/embedded/download/YxDK.gif");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
  }

  .partyDetails {
    z-index: 1;
    margin: 1em 0 0 0;
  }

  .partyBackground {
    margin:  -1em 0 0em 0;
    width: 100vw;
    height: 150%;
    position: absolute;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
  }

  .peace {
    /* position:fixed;
    left: -100px;;
    bottom: -30px; */
    width: 500px;
    height: 500px;
    margin-left: 100px;
  }

  .parties {
    margin: -2em 0 0 0  ;
  }

  .ten {
    margin: 0 0 0 -.6em;
  }

  .updateForm {
    margin: -5em 0 0 0;
  }
}